.Ltext {
    text-align: center;
    color: #09ed24;
    font-size: 40px;
    padding-top: 10%;
  }
  
  .Ltext2 {
      text-align: center;
      color: #09ed24;
      font-size: 40px;
    }