.form {
  margin-top: 100px;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  background-color: hsla(0, 0%, 0%, 0.600);
  border-radius: 10px;
  padding: 50px;
  border: solid rgb(0, 200, 255);
  color: white;
}

.form-group{
  padding: 15px;
}

.button {
  text-align: center;
  padding-top: 30px;
  color:white;
}