@property --p{
  syntax: '<number>';
  inherits: true;
  initial-value: 1;
}

.pie {
    width: 100px; height: 100px;
    border-radius: 50%;
    background: yellowgreen;
    background-image:linear-gradient(to right, transparent 50%, rgb(252, 4, 4) 0);
  }
  .pie::before {
    content: ’;
    display: block;
    margin-left: 50%;
    height: 100%;
  }
  
@keyframes p{
  from{--p:0}
}
